.nav [class^="icon-"],
.nav [class*=" icon-"] {
  vertical-align: middle;
}
html,body{
    height: auto !important;
    height: 100%;
    min-height: 100%;
}
@media (min-width: 981px) { body { padding-top: 70px; } }
.navbar .brand {
  padding: ((@navbarHeight - @baseLineHeight + 4) / 2) 20px;
}
#pagingrow{ background-color: @grayLighter; border-right:1px solid #ccc; padding:4px; }
#functionrow{ position:absolute; top:-1px; right:0px; }
.btn-custom { padding: 8px; }
.navbar-inner{min-width:981px;padding-bottom:0;}
#messagebox1 { 
    position: absolute;
    top: 150px;
    z-index: 2;
    width:300px;
    margin-left:-150px;
    left:50%;
    display:none;
    text-align:center;
}
#searchpopup1 { position: relative; top:-10px; right:0px; border: 1px solid #999999; display: none; background: #f8f8f8; color: #000; font-weight: bold; padding:0; z-index: 1; width: 500px; }
#searchpopup1 form {  padding:15px 0 0 0; }
#searchpopup1 form .form-actions{  margin-bottom:0; }
#searchpopup1 .span2 { text-align:right; }
#popupx {position:absolute;right:10px;top:5px;margin:10px;cursor:pointer;}
#restorebox {
    position: absolute;
    top: 40px;
    left: 15%;
    display: none;
    font-weight: bold;
    padding: 15px;
    z-index: 1;
}
#notesbox { position: absolute; top: 8px; right: 8px; }
#tagbox {margin-right:8px;}
//#resultsheader{ height:37px; border:none; border-bottom:1px solid @grayLight;margin-bottom:none;}
#sspinner{display: none;}

#searchcontainer { text-align:center; }
#searchcontainer label{ display:none; height:0; }
#searchcontainer input{ height:26px; width:500px; }
// Search Page Layout
#mainscreen { position: absolute; top: 120px; right: 20px; bottom: 20px; left: 20px; min-width:981px;}
#mailleftcontainer { position: absolute; top: 0; left: 0; bottom: 0; width: 195px; }
#mailboxlist-container { position: absolute; top: 0; left: 0; width: 100%; bottom: 0; border: 1px solid @grayLight; border-top:none;background-color: #f9f9f9; overflow: hidden; }
.boxlistcontent { position: absolute; top:0px; bottom: 34px; left: 0; right: 0; width: 100%; overflow-y: auto; overflow-x: hidden; height: auto; }
.boxfooter { position: absolute; bottom: 0px; left: 0px; right: 0px; overflow: hidden; height: 33px; border-top: 1px solid #ccc; background-color:#f6f6f6;  }
#mailboxlist { position:relative; height: auto; margin: 0px; padding: 0px; list-style-image: none; list-style-type: none; overflow: hidden; white-space: nowrap; background-color: #FFF; }
#mailrightcontainer { position: absolute; top: 0; left: 170px; bottom: 0; right: 0; min-width: 400px; }
#mailrightcontent { position: absolute; top: 0px; left: 0; right: 0; bottom: 0; }
#mailcontframe { position: absolute; width: 100%; top: 0; bottom: 0; border: 1px solid @grayLight; background-color: #F9F9F9; overflow: hidden; }
#mailpreviewframe { position: absolute; width: 100%; top: 205px; bottom: 0px; border: 1px solid @grayLight; background-color: #F9F9F9; text-align: left; overflow:auto; }
#messagecontframe { position: relative; top: 0px; left: 0px; right: 0px; bottom: 0px; width: 100%; height: 100%; border: 1px solid #00f; }
.messageheader { background-color:#f6f6f6; padding: 8px; border-bottom:1px solid #666; }
.messagecontents { background-color:#fff; padding: 8px; }
.messagesmtpheaders { background-color:none; border:none; }
.splitter { user-select: none; -moz-user-select: none; -khtml-user-select: none; position: absolute; background: url(/view/theme/default/assets/images/dimple.png) center no-repeat; }
.splitter-h { cursor: n-resize; cursor: row-resize; background-position: center 2px; }
.splitter-v { cursor: e-resize; cursor: col-resize; background-position: 2px center; }

// Table formatting
.table-striped tbody>tr:nth-child(odd)>td,.table-striped tbody>tr:nth-child(odd)>th{background-color:#fff;}
.table-striped tbody>tr:nth-child(even)>td,.table-striped tbody>tr:nth-child(even)>th{background-color:#f6f6f6;}
.resultrow { font-style: italic; cursor:pointer; }
.resultrow.new { font-style: normal; }
.table-striped tbody>tr.resultrow.selected:nth-child(odd)>td{background-color:#ffffdd;}
.table-striped tbody>tr.resultrow.selected:nth-child(even)>td{background-color:#ffffdd;}
table#resultstable{margin-bottom:0;}

// Unique Icon/Indicator Styles
i { cursor: pointer; }
i.spam { color: @yellow; }
i.attachment { color: @blue; }
i.note { color: @teal; }
i.tag { color: @purple; }
i.verified { color: @green; }
i.muted { color: @grayLight; }

// Form Styles
body#loginpage{
    background-color:#fcfcfc;
    padding-top: 40px;
    padding-bottom: 40px;
}

.ruleselect {width:150px;}

// Login Page Styles
#logo-lg{
width: 300px;
margin: 0 auto 20px;
}

#compatibility{
max-width: 300px;
margin: 0 auto;
color:#444;
text-align:justify;
}

.form-signin {
max-width: 300px;
padding: 19px 29px 29px;
margin: 0 auto 20px;
background-color: #fff;
border: 1px solid #e5e5e5;
-webkit-border-radius: 5px;
   -moz-border-radius: 5px;
        border-radius: 5px;
-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
   -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
        box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
margin-bottom: 10px;
}
.form-signin input[type="text"],
.form-signin input[type="password"] {
font-size: 16px;
height: auto;
margin-bottom: 15px;
padding: 7px 9px;
}

.alert-general {
  background-color: @grayLighter;
  border-color: @gray;
  color: @gray;
}
.alert-general h4 {
  color: @grayDark;
}