// Forms.less
// Base styles for various input types, form layouts, and states
// -------------------------------------------------------------




// FOCUS STATE
// -----------


//input:focus,
//textarea:focus {
//  border-color: @purple;
//  .box-shadow(~"inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(123,79,157,.6)");
//}


.search-query {
  padding-right: 0px;
  padding-left: 0px;
 
  .border-radius(0px);
}

.input-append .btn {
    height: 36px;
    padding: 6px 10px;
    vertical-align: top;
}

.controls select{
	height: 36px;
}

.controls select[multiple="multiple"]{
	height: auto;
}

