// NAVBAR (FIXED AND STATIC)
// -------------------------



// Gradient is applied to it's own element because overflow visible is not honored by IE when filter is present
.navbar-inner {
  .box-shadow(none);
  padding-bottom: 10px;
  border-bottom: 1px solid @hrBorder;
  .border-radius(0px);
}


// NAVIGATION
// ----------


.navbar .nav > li
{
    font-family: @headingsFontFamily;
    font-weight: @headingsFontWeight;
    text-transform: lowercase;
    font-size: 25px;
}

.navbar .nav > li > a {
  text-shadow: 0 0px 0 rgba(0, 0, 0, 0);
  padding-bottom: 10px;
  margin-left: 15px;
  padding-top: 10px;
  color:@navbarLinkColor;
  
}

.navbar .nav .active > a,
.navbar .nav > li > a:hover {
  
  color: @navbarLinkColorHover;
  text-decoration: none;
  
}

// Active nav items
.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
  
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}


// Navbar search
.navbar-search {
  
  .search-query {
    border: 1px solid @navbarSearchBorder;
    border-bottom: 3px solid @navbarSearchBorderBottom;
    .box-shadow(none);
    .border-radius(0px);
    padding: 5px 10px;
  
   // Focus states (we use .focused since IE7-8 and down doesn't support :focus)
    &:focus,
    &.focused {
       
      background-color: @navbarSearchBackgroundFocus;
      border: 1px solid @navbarSearchBorder;
      border-bottom: 3px solid @navbarSearchBorderBottom;
      .box-shadow(none);
    }
  
  }
}